{
  "swagger": "2.0",
  "info": {
    "version": "1.0.0",
    "title": "tripendpoint-api.endpoints.tripwego-api.cloud.goog"
  },
  "host": "tripendpoint-api.endpoints.tripwego-api.cloud.goog",
  "basePath": "/_ah/api",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/tripendpoint/v1/copyTrip": {
      "post": {
        "operationId": "TripendpointCopyTrip",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/Trip"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response",
            "schema": {
              "$ref": "#/definitions/Trip"
            }
          }
        }
      }
  },
    "/tripendpoint/v1/count": {
      "get": {
        "operationId": "TripendpointCount",
        "parameters": [],
        "responses": {
          "200": {
            "description": "A successful response",
            "schema": {
              "$ref": "#/definitions/Counter"
      }
          }
        }
      }
    },
    "/tripendpoint/v1/deleteOrRestoreTrip": {
      "put": {
        "operationId": "TripendpointDeleteOrRestoreTrip",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/Trip"
      }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response"
          }
        }
      }
    },
    "/tripendpoint/v1/deleteTripsCancelled": {
      "get": {
        "operationId": "TripendpointDeleteTripsCancelled",
        "parameters": [
          {
            "name": "userId",
            "in": "query",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response"
          }
        }
      }
    },
    "/tripendpoint/v1/find": {
      "post": {
        "operationId": "TripendpointFind",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/TripSearchCriteria"
      }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response",
            "schema": {
              "$ref": "#/definitions/CollectionResponse_Trip"
      }
          }
        }
      }
    },
    "/tripendpoint/v1/findAllTripsAlive": {
      "get": {
        "operationId": "TripendpointFindAllTripsAlive",
        "parameters": [
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response",
            "schema": {
              "$ref": "#/definitions/CollectionResponse_Trip"
      }
          }
        }
      }
    },
    "/tripendpoint/v1/findAllTripsForAdmin": {
      "get": {
        "operationId": "TripendpointFindAllTripsForAdmin",
        "parameters": [
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "categoryNames",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response",
            "schema": {
              "$ref": "#/definitions/CollectionResponse_Trip"
      }
          }
        }
      }
    },
    "/tripendpoint/v1/findAllTripsForSeo": {
      "get": {
        "operationId": "TripendpointFindAllTripsForSeo",
        "parameters": [
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response",
            "schema": {
              "$ref": "#/definitions/CollectionResponse_Trip"
      }
          }
        }
      }
    },
    "/tripendpoint/v1/findTripsByUser": {
      "get": {
        "operationId": "TripendpointFindTripsByUser",
        "parameters": [
          {
            "name": "userId",
            "in": "query",
            "required": true,
            "type": "string"
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response",
            "schema": {
              "$ref": "#/definitions/CollectionResponse_Trip"
      }
          }
        }
      }
    },
    "/tripendpoint/v1/get_trip": {
      "get": {
        "operationId": "TripendpointRetrieveTrip",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response",
            "schema": {
              "$ref": "#/definitions/Trip"
      }
          }
    },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/tripendpoint/v1/ping": {
      "get": {
        "operationId": "TripendpointPing",
        "parameters": [],
        "responses": {
          "200": {
            "description": "A successful response"
          }
        }
      }
    },
    "/tripendpoint/v1/statistics": {
      "get": {
        "operationId": "TripendpointStatistics",
        "parameters": [],
        "responses": {
          "200": {
            "description": "A successful response",
            "schema": {
              "$ref": "#/definitions/Statistics"
      }
          }
        }
      }
    },
    "/tripendpoint/v1/testQuery": {
      "get": {
        "operationId": "TripendpointTestQuery",
        "parameters": [],
        "responses": {
          "200": {
            "description": "A successful response"
          }
        }
      }
    },
    "/tripendpoint/v1/trip": {
      "post": {
        "operationId": "TripendpointInsertTrip",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/Trip"
      }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response",
            "schema": {
              "$ref": "#/definitions/Trip"
      }
          }
    }
      },
      "put": {
        "operationId": "TripendpointUpdateTrip",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/Trip"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response",
            "schema": {
              "$ref": "#/definitions/Trip"
            }
          }
        }
      }
  },
    "/tripendpoint/v1/trip/{id}": {
      "get": {
        "operationId": "TripendpointGetTrip",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response",
            "schema": {
              "$ref": "#/definitions/Trip"
            }
          }
    }
      }
  },
    "/tripendpoint/v1/updateAdminCertificate": {
      "put": {
        "operationId": "TripendpointUpdateAdminCertificate",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/Trip"
      }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response"
          }
        }
      }
    },
    "/tripendpoint/v1/updateAdminStatus": {
      "put": {
        "operationId": "TripendpointUpdateAdminStatus",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/Trip"
      }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response"
          }
        }
      }
    },
    "/tripendpoint/v1/updateVisibility": {
      "put": {
        "operationId": "TripendpointUpdateVisibility",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/Trip"
      }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response"
          }
        }
      }
    }
  },
  "securityDefinitions": {
    "api_key": {
      "type": "apiKey",
      "name": "key",
      "in": "query"
    },
    "firebase": {
      "type": "oauth2",
      "authorizationUrl": "",
      "flow": "implicit",
      "x-google-issuer": "https://securetoken.google.com/tripwego-api",
      "x-google-jwks_uri": "https://www.googleapis.com/robot/v1/metadata/x509/securetoken@system.gserviceaccount.com"
    }
  },
  "definitions": {
    "MyUser": {
      "properties": {
        "authDomain": {
          "type": "string"
    },
        "email": {
          "type": "string"
    },
        "federatedIdentity": {
          "type": "string"
    },
        "nickname": {
          "type": "string"
    },
        "picture": {
          "type": "string"
    },
        "userId": {
          "type": "string"
        }
      }
    },
    "LatLngBoundsDto": {
      "properties": {
        "center": {
          "$ref": "#/definitions/LatLngDto"
    },
        "northEast": {
          "$ref": "#/definitions/LatLngDto"
    },
        "southWest": {
          "$ref": "#/definitions/LatLngDto"
        }
      }
    },
    "Trip": {
      "properties": {
        "accommodations": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Accommodation"
          }
    },
        "activities": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Activity"
          }
    },
        "cancelled": {
          "type": "boolean"
    },
        "category": {
          "type": "string"
    },
        "countryCode": {
          "type": "string"
    },
        "countryName": {
          "type": "string"
    },
        "createdAt": {
          "type": "string"
    },
        "description": {
          "type": "string"
    },
        "duration": {
          "type": "integer",
          "format": "int64"
    },
        "endDate": {
          "type": "string"
    },
        "flights": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Flight"
          }
        },
        "geometry": {
          "$ref": "#/definitions/PlaceGeometryDto"
        },
        "id": {
          "type": "string"
        },
        "language": {
          "type": "string"
        },
        "mapStyle": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "noSpecificDates": {
          "type": "boolean"
        },
        "parentTripId": {
          "type": "string"
        },
        "placeResultDto": {
          "$ref": "#/definitions/PlaceResultDto"
        },
        "placeResultId": {
          "type": "string"
        },
        "rails": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Rail"
          }
        },
        "rating": {
          "type": "integer",
          "format": "int32"
        },
        "rentals": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Rental"
          }
        },
        "seo": {
          "$ref": "#/definitions/Seo"
        },
        "startDate": {
          "type": "string"
        },
        "status": {
          "type": "string"
        },
        "tags": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "travelers": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Traveler"
          }
        },
        "tripAdminStatus": {
          "type": "string"
        },
        "tripAutomatic": {
          "type": "boolean"
        },
        "tripCertificate": {
          "type": "string"
        },
        "tripPlanStatus": {
          "type": "string"
        },
        "tripProvider": {
          "$ref": "#/definitions/TripProvider"
        },
        "tripUserStatus": {
          "type": "string"
        },
        "tripVersion": {
          "$ref": "#/definitions/TripVersion"
        },
        "tripVisibility": {
          "type": "string"
        },
        "updatedAt": {
          "type": "string"
        },
        "urlPhoto": {
          "type": "string"
        },
        "urlPhotoAlbum": {
          "type": "string"
        },
        "urlSite": {
          "type": "string"
        },
        "urlStaticMap": {
          "type": "string"
        },
        "user": {
          "$ref": "#/definitions/MyUser"
        },
        "wayTypeDefault": {
          "type": "string"
    }
      }
    },
    "CollectionResponse_Trip": {
      "properties": {
        "items": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Trip"
          }
        },
        "nextPageToken": {
          "type": "string"
        }
      }
    },
    "CountryDto": {
      "properties": {
        "code": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      }
    },
    "Flight": {
      "properties": {
        "id": {
          "type": "string"
        },
        "steps": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Step"
          }
        }
      }
    },
    "TripProvider": {
      "properties": {
        "email": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "type": {
          "type": "string"
        },
        "url": {
          "type": "string"
        }
      }
    },
    "Activity": {
      "properties": {
        "id": {
          "type": "string"
        },
        "steps": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Step"
          }
        }
      }
    },
    "Step": {
      "properties": {
        "address": {
          "type": "string"
        },
        "avoidHighways": {
          "type": "boolean"
        },
        "avoidTolls": {
          "type": "boolean"
        },
        "category": {
          "type": "string"
        },
        "createdAt": {
          "type": "string"
        },
        "dayIn": {
          "type": "integer",
          "format": "int64"
        },
        "description": {
          "type": "string"
        },
        "id": {
          "type": "string"
        },
        "indexOnRoadMap": {
          "type": "integer",
          "format": "int64"
        },
        "infoLink": {
          "type": "string"
        },
        "location": {
          "$ref": "#/definitions/LatLngDto"
        },
        "name": {
          "type": "string"
        },
        "parentId": {
          "type": "string"
        },
        "parentTripItemId": {
          "type": "string"
        },
        "placeResultDto": {
          "$ref": "#/definitions/PlaceResultDto"
        },
        "placeResultId": {
          "type": "string"
        },
        "placeType": {
          "type": "string"
        },
        "rating": {
          "type": "integer",
          "format": "int32"
        },
        "type": {
          "type": "string"
        },
        "updatedAt": {
          "type": "string"
        },
        "urlPhoto": {
          "type": "string"
        },
        "wayType": {
          "type": "string"
        }
      }
    },
    "PlaceGeometryDto": {
      "properties": {
        "location": {
          "$ref": "#/definitions/LatLngDto"
        },
        "viewport": {
          "$ref": "#/definitions/LatLngBoundsDto"
        }
      }
    },
    "Statistics": {
      "properties": {
        "tripCounter": {
          "type": "integer",
          "format": "int64"
        },
        "userCounter": {
          "type": "integer",
          "format": "int64"
        }
      }
    },
    "Provider": {
      "enum": [
        "GOOGLE",
        "TRIPWEGO",
        "OTHERS"
      ]
    },
    "TripSearchCriteria": {
      "properties": {
        "categories": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "certified": {
          "type": "boolean"
        },
        "continents": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "countries": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "favorite": {
          "type": "boolean"
        },
        "maxDuration": {
          "type": "integer",
          "format": "int32"
        },
        "minDuration": {
          "type": "integer",
          "format": "int32"
        },
        "season": {
          "type": "string"
        },
        "startIndex": {
          "type": "integer",
          "format": "int32"
        },
        "text": {
          "type": "string"
        },
        "tripTags": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "viewSize": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "TripVersion": {
      "properties": {
        "createdAt": {
          "type": "string"
        },
        "default": {
          "type": "boolean"
        },
        "number": {
          "type": "integer",
          "format": "int64"
        },
        "parentTripId": {
          "type": "string"
        },
        "userUpdater": {
          "$ref": "#/definitions/MyUser"
        }
      }
    },
    "Counter": {
      "properties": {
        "count": {
          "type": "integer",
          "format": "int64"
        }
      }
    },
    "Rail": {
      "properties": {
        "id": {
          "type": "string"
        },
        "steps": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Step"
          }
        }
      }
    },
    "Rental": {
      "properties": {
        "id": {
          "type": "string"
        },
        "steps": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Step"
          }
        }
      }
    },
    "PlaceResultDto": {
      "properties": {
        "certifiedByTripwego": {
          "type": "boolean"
        },
        "counter": {
          "type": "integer",
          "format": "int64"
        },
        "country": {
          "$ref": "#/definitions/CountryDto"
        },
        "createdAt": {
          "type": "string"
        },
        "evaluated": {
          "type": "boolean"
        },
        "formatted_address": {
          "type": "string"
        },
        "formatted_phone_number": {
          "type": "string"
        },
        "geometry": {
          "$ref": "#/definitions/PlaceGeometryDto"
        },
        "html_attributions": {
          "type": "string"
        },
        "icon": {
          "type": "string"
        },
        "international_phone_number": {
          "type": "string"
        },
        "language": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "order": {
          "type": "integer",
          "format": "int64"
        },
        "permanently_closed": {
          "type": "boolean"
        },
        "photos": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "placeKey": {
          "type": "string"
        },
        "placeType": {
          "type": "string"
        },
        "place_id": {
          "type": "string"
        },
        "population": {
          "type": "integer",
          "format": "int64"
        },
        "price_level": {
          "type": "integer",
          "format": "int64"
        },
        "provider": {
          "$ref": "#/definitions/Provider"
        },
        "rating": {
          "type": "integer",
          "format": "int32"
        },
        "stepCategories": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "stepTypes": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "types": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "updatedAt": {
          "type": "string"
        },
        "url": {
          "type": "string"
        },
        "vicinity": {
          "type": "string"
        },
        "website": {
          "type": "string"
        }
      }
    },
    "Traveler": {
      "properties": {
        "authDomain": {
          "type": "string"
        },
        "email": {
          "type": "string"
        },
        "federatedIdentity": {
          "type": "string"
        },
        "nickname": {
          "type": "string"
        },
        "permission": {
          "type": "string"
        },
        "picture": {
          "type": "string"
        },
        "userId": {
          "type": "string"
        }
      }
    },
    "Accommodation": {
      "properties": {
        "id": {
          "type": "string"
        },
        "steps": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Step"
          }
        }
      }
    },
    "Seo": {
      "properties": {
        "description": {
          "type": "string"
        },
        "keywords": {
          "type": "string"
        },
        "title": {
          "type": "string"
        },
        "url": {
          "type": "string"
        },
        "urlParameterName": {
          "type": "string"
        }
      }
    },
    "LatLngDto": {
      "properties": {
        "latitude": {
          "type": "number",
          "format": "double"
        },
        "longitude": {
          "type": "number",
          "format": "double"
        }
      }
  }
  }
}