<!-- [START web_xml] -->
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
         http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <!-- Wrap the backend with Endpoints Frameworks v2. -->
    <servlet>
        <servlet-name>EndpointsServlet</servlet-name>
        <servlet-class>com.google.api.server.spi.EndpointsServlet</servlet-class>
        <init-param>
            <param-name>services</param-name>
            <param-value>com.tripwego.api.placeresult.PlaceResultEndpoint,
                com.tripwego.api.tag.TagEndpoint,
                com.tripwego.api.trip.TripEndpoint,
                com.tripwego.api.region.RegionCounterEndpoint,
                com.tripwego.api.batch.BatchEndpoint,
                com.tripwego.api.user.UserEndpoint,
                com.tripwego.api.step.StepEndpoint
            </param-value>
        </init-param>
        <init-param>
            <param-name>restricted</param-name>
            <param-value>false</param-value>
        </init-param>
    </servlet>

    <!-- Route API method requests to the backend. -->
    <servlet-mapping>
        <servlet-name>EndpointsServlet</servlet-name>
        <url-pattern>/_ah/api/*</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>

    <!-- Add a filter that fetches the service config from service management. -->
    <filter>
        <filter-name>endpoints-api-configuration</filter-name>
        <filter-class>com.google.api.control.ServiceManagementConfigFilter</filter-class>
    </filter>

    <!-- Add a filter that performs Endpoints logging and monitoring. -->
    <!-- [START api_management] -->
    <filter>
        <filter-name>endpoints-api-controller</filter-name>
        <filter-class>com.google.api.control.extensions.appengine.GoogleAppEngineControlFilter</filter-class>
        <init-param>
            <param-name>endpoints.projectId</param-name>
            <param-value>${endpoints.project.id}</param-value>
        </init-param>
        <init-param>
            <param-name>endpoints.serviceName</param-name>
            <param-value>${endpoints.project.id}.appspot.com</param-value>
        </init-param>
    </filter>

    <filter-mapping>
        <filter-name>endpoints-api-configuration</filter-name>
        <servlet-name>EndpointsServlet</servlet-name>
    </filter-mapping>

    <filter-mapping>
        <filter-name>endpoints-api-controller</filter-name>
        <servlet-name>EndpointsServlet</servlet-name>
    </filter-mapping>

    <!-- CRON Servlet -->
    <servlet>
        <servlet-name>CountTripByRegionServlet</servlet-name>
        <servlet-class>com.tripwego.api.batch.CountTripByRegionServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CountTripByRegionServlet</servlet-name>
        <url-pattern>/cron/countTripByRegion</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CleanTripsServlet</servlet-name>
        <servlet-class>com.tripwego.api.batch.CleanTripsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CleanTripsServlet</servlet-name>
        <url-pattern>/cron/cleanTripsServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DeleteTripsCancelledOneMonthAgoServlet</servlet-name>
        <servlet-class>com.tripwego.api.batch.DeleteTripsCancelledServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteTripsCancelledOneMonthAgoServlet</servlet-name>
        <url-pattern>/cron/deleteTripsCancelledOneMonthAgoServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>StoreTripsInDocumentServlet</servlet-name>
        <servlet-class>com.tripwego.api.batch.StoreTripsInDocumentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>StoreTripsInDocumentServlet</servlet-name>
        <url-pattern>/cron/storeTripsInDocumentServlet</url-pattern>
    </servlet-mapping>

    <!-- Securing URLs for CRON -->
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>cron</web-resource-name>
            <url-pattern>/cron/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>admin</role-name>
        </auth-constraint>
    </security-constraint>
</web-app>
